*, html{
    box-sizing: border-box;
}
#root{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    word-break: break-word;
}
.main{
    width: 50%;
}

/* .todoIList{
    height: 300px;
    overflow: auto;
} */

/* // Mixin to generate padding classes from .p-1 to .p-100 */
/* // @mixin generatePaddingClasses {
//   // Loop through 1 to 100
//   @for $i from 1 through 100 {
//     .p-#{$i} {
//       padding: #{$i * 4}px;
//     }
//   }
// }

// @include generatePaddingClasses; */
/*  */
