*, html{
    box-sizing: border-box;
}
#root{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c3e50;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    word-break: break-word;
}
.main{
    width: 50%;
}

.todoIList{
    height: 300px;
    overflow: auto;
}